<div class="bg-bluegray-900 text-gray-100 p-3 flex justify-content-between lg:justify-content-center align-items-center flex-wrap">
    <div class="font-bold mr-8">Olá, caro leitor!</div>
    <div class="align-items-center hidden lg:flex">
        <span class="line-height-3">Nosso site está em constante atualização! Em breve novidades de conteúdo e um pouco de nossos projetos.</span>
    </div>
    <a pRipple class="flex align-items-center no-underline justify-content-center border-circle text-gray-50 hover:bg-bluegray-700 cursor-pointer transition-colors transition-duration-150" style="width:2rem; height: 2rem">
        <i class="pi pi-times"></i>
    </a>
</div>