/* You can add global styles to this file, and also import other style files */
@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import "primeflex/primeflex.css";
@import "primeicons/primeicons.css";


@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital@0;1&display=swap');

:root {
  --primary-color: #2D6B7E;
  --text-color: #2D6B7E;
  --e-global-color-3dac4b2: #FF9700;
  --e-global-color-c35a632: #3366FF;
    --font-family: "JetBrains Mono", monospace;
  }

html, body { 
  height: 100%; 
}
  .body-container{
    margin: 0;
    font-family: var(--font-family);
    background: var(--surface-ground);
    color: var(--text-color);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
